<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>钱庄-问答游戏Demo</title>
    <link href="../Css/common.css" rel="stylesheet" />
    <script src="../JS/jquery-1.7.2.min.js"></script>
    <script src="../JS/common.js"></script>
</head>
<body>
    <div id="container">
        <!--设置遮罩层-->
        <div id="hideBg"></div>
        <div class="fixedTop"></div>
        <header class="clearFloat gradient">
            <div class="top " id="header">
                <a href="javascript:history.go(-1)"><span class="goBack"></span></a>
                <span class="title">钱庄</span>
                <span class="mark">
                    <a href="../View/Index.html" class="goIndexPage"><i class="other"></i><i class="other otherL"></i><i class="other"></i></a>
                    <span class="splitLine"></span><i class="close"><i class="other otherL"></i></i>
                </span>
            </div>
        </header>
        <main class="winPro">
            <div class="content">
                
            </div>
        </main>
         
    </div>
</body>
</html>