<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>赛季说明-问答游戏Demo</title>
    <link href="../Css/common.css" rel="stylesheet" />
    <link href="../Css/animation.css" rel="stylesheet" />
    <script src="../JS/jquery-1.7.2.min.js"></script>
    <script src="../JS/common.js"></script>
</head>
<body>
    <div id="container">
        <header class="clearFloat bgcolor" id="header">
            <div class="top ">
                <a href="javascript:history.go(-1)"><span class="goBack"></span></a>
                <span class="title">赛季说明</span>
                <span class="mark">
                    <a href="../View/Index.html" class="goIndexPage"><i class="other"></i><i class="other otherL"></i><i class="other"></i></a>
                    <span class="splitLine"></span><i class="close"><i class="other otherL"></i></i>
                </span>
            </div>
        </header>
        <main class="competBg">
            <div class="fixedTop"></div>
            <section class="competContainer animationLeft">
                <div class="title" id="title">
                    <span class="friendList currentList">段位</span>
                    <span class="">奖励</span>
                    <span class="worldList">头像框</span>
                </div>
            </section>
            <div style="width:100%;"><div class="competTopLine listGradient"></div></div>
            <div class="content">
                <section class="competIntroDiv">
                    <div class="levelIntro animationFadeInUp">
                        <span class="levelName">脑力之王</span>
                        <span class="splitLine spanMiddle"><span class="levelWinImg"><img src="../Imgs/lBox.png" alt="大宝箱" /></span><span class="winText">大宝箱X15</span></span>                       
                        <span class="splitLine spanRight" ><span class="levelHeadImg levelHeadBg"><img src="../Imgs/u3.jpg" alt="头像框" /></span></span>                        
                    </div>
                    <div class="levelIntro animationFadeInDown">
                        <span class="levelName">智慧传说</span>
                        <span class="splitLine spanMiddle"><span class="levelWinImg"><img src="../Imgs/lBox.png" alt="大宝箱" /></span><span class="winText">大宝箱X13</span></span>
                        <span class="splitLine spanRight"><span class="levelHeadImg levelHeadBg1"><img src="../Imgs/u3.jpg" alt="头像框" /></span></span>
                    </div>
                    <div class="levelIntro animationFadeInUp">
                        <span class="levelName">博学大者</span>
                        <span class="splitLine spanMiddle"><span class="levelWinImg"><img src="../Imgs/lBox.png" alt="大宝箱" /></span><span class="winText">大宝箱X10</span></span>
                        <span class="splitLine spanRight"><span class="levelHeadImg levelHeadBg2"><img src="../Imgs/u3.jpg" alt="头像框" /></span></span>
                    </div>
                    <div class="levelIntro animationFadeInDown">
                        <span class="levelName">万卷宗师</span>
                        <span class="splitLine spanMiddle"><span class="levelWinImg"><img src="../Imgs/lBox.png" alt="大宝箱" /></span><span class="winText">大宝箱X8</span></span>
                        <span class="splitLine spanRight"><span class="levelHeadImg levelHeadBg3"><img src="../Imgs/u3.jpg" alt="头像框" /></span></span>
                    </div>
                    <div class="levelIntro animationFadeInUp">
                        <span class="levelName">智慧大师</span>
                        <span class="splitLine spanMiddle"><span class="levelWinImg"><img src="../Imgs/lBox.png" alt="大宝箱" /></span><span class="winText">大宝箱X6</span></span>
                        <span class="splitLine spanRight"><span class="levelHeadImg levelHeadBg4"><img src="../Imgs/u3.jpg" alt="头像框" /></span></span>
                    </div> 
                    <div class="levelIntro animationFadeInUp">
                        <span class="levelName">无暇钻石</span>
                        <span class="splitLine spanMiddle"><span class="levelWinImg"><img src="../Imgs/lBox.png" alt="大宝箱" /></span><span class="winText">中宝箱X14</span></span>
                        <span class="splitLine spanRight"><span class="levelHeadImg"><img src="../Imgs/u3.jpg" alt="头像框" /></span></span>
                    </div>
                    <div class="levelIntro animationFadeInDown">
                        <span class="levelName">睿智黑金</span>
                        <span class="splitLine spanMiddle"><span class="levelWinImg"><img src="../Imgs/lBox.png" alt="大宝箱" /></span><span class="winText">中宝箱X12</span></span>
                        <span class="splitLine spanRight"><span class="levelHeadImg"><img src="../Imgs/u3.jpg" alt="头像框" /></span></span>
                    </div>
                    <div class="levelIntro animationFadeInUp">
                        <span class="levelName">巧思白金</span>
                        <span class="splitLine spanMiddle"><span class="levelWinImg"><img src="../Imgs/lBox.png" alt="大宝箱" /></span><span class="winText">中宝箱X10</span></span>
                        <span class="splitLine spanRight"><span class="levelHeadImg"><img src="../Imgs/u3.jpg" alt="头像框" /></span></span>
                    </div>
                    <div class="levelIntro animationFadeInDown">
                        <span class="levelName">聪慧黄金</span>
                        <span class="splitLine spanMiddle"><span class="levelWinImg"><img src="../Imgs/lBox.png" alt="大宝箱" /></span><span class="winText">中宝箱X8</span></span>
                        <span class="splitLine spanRight"><span class="levelHeadImg"><img src="../Imgs/u3.jpg" alt="头像框" /></span></span>
                    </div>
                </section>
            </div>
        </main>
        <footer>
            <div class="fixedGradientBottom"></div>
            <div class="competBottom">
                <div class="competGradient competLine"></div>
            </div>  
        </footer>
    </div>
</body>
</html>
 