<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>战利品-问答游戏Demo</title>
    <link href="../Css/common.css" rel="stylesheet" />
    <link href="../Css/animation.css" rel="stylesheet" />
    <script src="../JS/jquery-1.7.2.min.js"></script>
    <script src="../JS/common.js"></script>
</head>
<body>
    <div id="container">
        <!--设置遮罩层-->
        <div id="hideBg"></div>
        <div class="fixedTop"></div>
        <header class="clearFloat gradient">
            <div class="top " id="header">
                <a href="javascript:history.go(-1)"><span class="goBack"></span></a>
                <span class="title">战利品</span>
                <span class="mark">
                    <a href="../View/Index.html" class="goIndexPage"><i class="other"></i><i class="other otherL"></i><i class="other"></i></a>
                    <span class="splitLine"></span><i class="close"><i class="other otherL"></i></i>
                </span>
            </div>
        </header>
        <main class="winPro">
            <div class="content">
                <section class="winProDiv animationZoomIn">
                    <div id="NoPro">您现在还没有战利品，每日好友对战能获得宝箱，快去试试吧！</div>
                    <div style="text-align:center;overflow:hidden;" id="WinProDiv">
                        <div class="subjectType">
                            <div class="subDiv animationFadeInUp" onclick="showWinPro(this)" id="sBox">
                                <div class="subWords">小宝箱</div>
                                <div class="subImg"><img src="../Imgs/sBox.png" /></div>
                                <div class="proNum">X1</div>
                            </div>
                            <div class="subDiv animationFadeInUp" onclick="showWinPro(this)" id="lBox">
                                <div class="subWords">大宝箱</div>
                                <div class="subImg"><img src="../Imgs/lBox.png" /></div>
                                <div class="proNum">X1</div>
                            </div>
                            <div class="subDiv animationFadeInUp" onclick="showWinPro(this)" id="limitT">
                                <div class="subWords">限时经验卡</div>
                                <div class="subImg"><img src="../Imgs/limitT.png" /></div>
                                <div class="proNum">X1</div>
                            </div>
                            <div class="subDiv animationFadeInUp" onclick="showWinPro(this)" id="lBox">
                                <div class="subWords">大宝箱</div>
                                <div class="subImg"><img src="../Imgs/lBox.png" /></div>
                                <div class="proNum">X1</div>
                            </div>
                            <div class="subDiv animationFadeInUp" onclick="showWinPro(this)" id="limitT">
                                <div class="subWords">限时经验卡</div>
                                <div class="subImg"><img src="../Imgs/limitT.png" /></div>
                                <div class="proNum">X1</div>
                            </div>
                            <div class="subDiv animationFadeInUp" onclick="showWinPro(this)" id="sBox">
                                <div class="subWords">小宝箱</div>
                                <div class="subImg"><img src="../Imgs/sBox.png" /></div>
                                <div class="proNum">X1</div>
                            </div>
                            <div class="subDiv animationFadeInUp" onclick="showWinPro(this)" id="lBox">
                                <div class="subWords">大宝箱</div>
                                <div class="subImg"><img src="../Imgs/lBox.png" /></div>
                                <div class="proNum">X1</div>
                            </div>
                            <div class="subDiv animationFadeInUp" onclick="showWinPro(this)" id="limitT">
                                <div class="subWords">限时经验卡</div>
                                <div class="subImg"><img src="../Imgs/limitT.png" /></div>
                                <div class="proNum">X1</div>
                            </div>
                            <div class="subDiv animationFadeInUp" onclick="showWinPro(this)" id="lBox">
                                <div class="subWords">大宝箱</div>
                                <div class="subImg"><img src="../Imgs/lBox.png" /></div>
                                <div class="proNum">X1</div>
                            </div>
                            <div class="subDiv animationFadeInUp" onclick="showWinPro(this)" id="sBox">
                                <div class="subWords">小宝箱</div>
                                <div class="subImg"><img src="../Imgs/sBox.png" /></div>
                                <div class="proNum">X1</div>
                            </div>
                            <div class="subDiv animationFadeInUp" onclick="showWinPro(this)" id="limitT">
                                <div class="subWords">限时经验卡</div>
                                <div class="subImg"><img src="../Imgs/limitT.png" /></div>
                                <div class="proNum">X1</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div> 
        </main>
        <section id="ProInfoPanel">
            <div style="text-align:center;" class="animationFlip">
                <span class="setImg subImg"><img src="../Imgs/sBox.png" /></span>
                <span class="close" onclick="ClosePanel('ProInfoPanel')">X</span>
                <div class="winProName">小宝箱</div>
                <div class="proIntro">宝物使用说明</div>
                <div class="useBtn" onclick="javascript: $('#result').show(); $('#ProInfoPanel').hide()">使用</div>
            </div>
        </section>
        <div id="result">
            <div class="result animationFlip">
                <div class="submitRs">使用道具</div>
                <div class="explain">使用道具说明</div>
                <div class="splitLine"></div>
                <a href="javascript:$('#result').hide();window.location.href = '../View/WinProPanel.html'" class="operate">确定</a>
            </div>
        </div>
        <div class="winProfixedBottom gradient bottomLine" id="footer">
        </div>
        <div class="use">点击即可使用宝物</div>
    </div>
</body>
</html>
