html {-webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-size: 625%; font-family: "Microsoft YaHei",helvetica, arial, sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} 
body {margin:0px; padding: 0px;text-align:center; font-size:14px; font-size:0.14rem; color:#474747;background-color:#fbfbdb;}/*background:url(../Imgs/2.jpg) no-repeat center top;width:100%;height:100%;background-attachment:fixed;*/
input,textarea,botton,ul,li{border:none;outline:none;font-size:14px;font-size:0.14rem;font-family: "Microsoft YaHei",helvetica, arial, sans-serif;}
a{text-decoration:none; border:none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;outline:none;}
.clearFloat:after{content:'';display:block;clear:both;visibility:hidden;height:0;}
.clearFloat{zoom:1;}
main{width:10rem;  height:5rem;margin:0.3rem auto ;}/* rgba(180, 203, 236, 0.4)*/
ul li{list-style:none;line-height:0.3rem;padding:0rem;margin:0.05rem auto;}
ul{display: block;list-style-type: disc; -webkit-margin-before: 0rem;-webkit-margin-after: 0rem;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 0rem;}
/*==========圆角边框=========*/
.grayCircle{border:0.05rem solid #eaeaea; border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;}
.whiteCircle{border:0.03rem solid #fff; border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;}
.circleBorder{border:0.03rem solid #fff;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;}
/*=========动画效果==========*/
.animationRotate{animation: rotate 2s linear 0s infinite;  -webkit-animation: rotate 2s linear 0s infinite;
              -moz-animation: rotate 2s linear 0s infinite ; /* Firefox */-o-animation: rotate 2s linear 0s infinite;    /* Opera */}
.animationLeft{animation: fadeInLeft 2s ease-in 0s 1 ;  -webkit-animation: fadeInLeft 2s ease-in 0s 1 ;
              -moz-animation: fadeInLeft 2s ease-in 0s 1 ; /* Firefox */-o-animation: fadeInLeft 2s ease-in 0s 1;    /* Opera */}
.animationRight{animation: fadeInRight 2s ease-in 0s 1 ;  -webkit-animation: fadeInRight 2s ease-in 0s 1 ;
              -moz-animation: fadeInRight 2s ease-in 0s 1 ; /* Firefox */-o-animation: fadeInRight 2s ease-in 0s 1;    /* Opera */}
.animationZoomIn{animation: zoomIn 2s ease-in-out 0s 1 ;  -webkit-animation: zoomIn 2s ease-in-out 0s 1  ;
              -moz-animation: zoomIn 2s ease-in-out 0s 1 ; /* Firefox */-o-animation: zoomIn 2s ease-in-out 0s 1;    /* Opera */}
.animationZoomInL{animation: zoomInLeft 2s ease-in-out 0s 1 ;  -webkit-animation:zoomInLeft 2s ease-in-out 0s 1 ;
              -moz-animation: zoomInLeft 2s ease-in-out 0s 1 ; /* Firefox */-o-animation: zoomInLeft 2s ease-in-out 0s 1;    /* Opera */}
.animationZoomInR{animation: zoomInRight 2s ease-in-out 0s 1 ;  -webkit-animation:zoomInRight 2s ease-in-out 0s 1 ;
              -moz-animation: zoomInRight 2s ease-in-out 0s 1 ; /* Firefox */-o-animation: zoomInRight 2s ease-in-out 0s 1;    /* Opera */}
.animationFadeInDown{animation: fadeInDown 3s ease-in-out 0s 1 ;  -webkit-animation: fadeInDown 3s ease-in-out 0s 1 ;
              -moz-animation: fadeInDown 3s ease-in-out 0s 1 ; /* Firefox */-o-animation: fadeInDown 3s ease-in-out 0s 1;    /* Opera */}
.animationFadeInUp{animation: fadeInUp 3s ease-in-out 0s 1 ;  -webkit-animation: fadeInUp 3s ease-in-out 0s 1 ;
              -moz-animation: fadeInUp 3s ease-in-out 0s 1 ; /* Firefox */-o-animation: fadeInUp 3s ease-in-out 0s 1;    /* Opera */}
.animationPlus{animation: plus2 1s ease-in 0s infinite alternate;  -webkit-animation: plus2 1s ease-in 0s infinite alternate;
              -moz-animation: plus2 1s ease-in 0s  infinite alternate ; /* Firefox */-o-animation: plus2 1s ease-in 0s infinite alternate;    /* Opera */}
.animationFlip{animation: flipInX 3s ease-in-out 0s  1;  -webkit-animation: flipInX 3s ease-in-out 0s 1 ;
              -moz-animation: flipInX 3s ease-in-out 0s 1 ; /* Firefox */-o-animation: flipInX 3s ease-in-out 0s 1;    /* Opera */}
/*========旋转效果===========*/
.rotateBox{transform:rotate(135deg);-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg);}

#top .topNav div,#left,#right,#top .topNav .topM ul li,#professionSkill .eChart,#professionSkill .professionInfo,
#professionSkill .professionInfo div, span.arrowDiv, span.arrow,#projectExp .projectInfo .nextPro{display:inline-block;*display:inline;*zoom:1;}

#top .topImg img,#top .topNav .audio img,main #left .personImg .me img{width:100%;height:100%;display:inline-block;*display:inline;*zoom:1;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;}
#top,footer{height:0.55rem;line-height:0.55rem;width:100%;background-color:#000;color:#fff;min-width:10rem;}
#top .topNav{width:9rem;margin:0rem auto;text-align:center;padding:0rem 0.5rem;}
#top .topNav div{vertical-align:top;}
#top .topNav .topL{float:left;width:25%;}
#top .topNav .topR{float:right;width:10%;}
#top .topNav .topImg{width:0.4rem;height:0.4rem;vertical-align:middle;margin:0rem 0.1rem;}
#top .topNav .audio{vertical-align:middle;width:0.4rem;height:0.4rem;cursor:pointer; margin:0rem 0.1rem;}
/*#top .topNav .audio audio{visibility:hidden;}*/
#top .topNav .topM { margin:0rem auto;text-align:center;width:65%; }
#top .topNav .topM ul li {margin:0rem 0.1rem;padding:0rem 0.03rem;line-height:0.55rem;cursor:pointer;width:22%;}
#top .topNav .topM ul li:hover,main #left nav ul li:hover,#top .topNav .topM ul li.currentNav,main #left nav ul li.currentNav{background-color:rgba(180, 203, 236, 0.4);color:#f15858;font-size:0.16rem;font-weight:bold;}
 
main #left {width:25%;padding:0.1rem 0rem;} 
main #left nav ul li:hover,main #left nav ul li.currentNav{border-radius:0.1rem;-webkit-border-radius:0.1rem;-moz-border-radius:0.1rem;-o-border-radius:0.1rem;-ms-border-radius:0.1rem;}
main #left .personImg,main #left .personName{margin:0.1rem auto;}
main #left .personImg .me{width:2rem;height:2rem;margin:0.1rem auto; }
main #left .personName{font-size:0.22rem;line-height:0.35rem;}
main #left nav{margin-top:0.1rem;}
main #left nav ul li{margin:0.05rem 0.1rem;padding:0rem 0.03rem; cursor:pointer;line-height:0.4rem;}
main #right{float:right;width:74%;padding:0.1rem 0rem;}
main #right .motto{line-height:2rem;}
main #right .motto img{vertical-align:middle;}
#personInfo{width:90%;margin:0.1rem auto;}
#personInfo .p_info{background-color:rgba(180, 203, 236, 0.4);margin:0.15rem auto; line-height:0.5rem;font-size:0.2rem;border:none;border-radius:0.1rem;-webkit-border-radius:0.1rem;-moz-border-radius:0.1rem;-o-border-radius:0.1rem;-ms-border-radius:0.1rem;width:100%;}
#personInfo .p_info .userInfo{width:40%;text-align:center;}
#personInfo .p_info span.splitLine{width:5%;height:0.35rem;margin:0rem auto;vertical-align:middle; border-left:0.01rem solid #756e66;border-top:none;border-bottom:none;border-right:none; display:inline-block;*display:inline;*zoom:1;} 
#personInfo .p_info span.left{float:left;}
#personInfo .p_info span.right{float:right;}

#professionSkill,#projectExp{display:none;}
#professionSkill{text-align:left;}
#professionSkill .eChart{width:40%; margin-bottom:0.1rem;}
#mySkill,#mySkill canvas {width:100%;margin:0rem auto;height:2.5rem;color:#fff;}
#professionSkill .professionInfo{vertical-align:top;width:55%;position:relative;height:2.5rem; overflow:hidden;}
#professionSkill .professionInfo .content,#projectExp .projectInfo .proIntro .content{width:102%;height:100%; padding-right:0.2rem;overflow-y:scroll;overflow-x:hidden;}
#professionSkill .professionInfo .skillList{width:100%; border-bottom:0.01rem dashed #afaf99;line-height:0.28rem;padding:0rem 0.1rem;margin:0.1rem auto;}
#projectExp{margin-bottom:0.1rem;text-align:left;margin-top:-0.4rem;}
#projectExp .projectInfo{margin-bottom:0.1rem;width:90%;margin:0rem auto 0.1rem auto;position:relative;text-align:center;}
#projectExp .projectInfo .proName{font-size:0.22rem;font-weight:bold;line-height:0.45rem;text-align:left;}
#projectExp .projectInfo .proIntro{width:100%;height:2rem;overflow:hidden;text-align:left;}
#projectExp .projectInfo .proIntro div{text-indent:0.12rem;line-height:0.28rem;}
#projectExp .projectInfo .proIntro .subTitle{font-weight:bold;font-size:0.17rem;}
#projectExp .projectInfo .proIntro a{color:#000;}
#projectExp .projectInfo .proIntro a:hover{font-weight:bold;}
#projectExp .projectInfo #prePro{display:none;}
#projectExp .projectInfo .nextPro{width:1rem;margin:0.1rem;cursor:pointer; line-height:0.4rem;  text-align:center;background-color:#7175a7;color:#fff;border-radius:0.1rem;-webkit-border-radius:0.1rem;-moz-border-radius:0.1rem;-o-border-radius:0.1rem;-ms-border-radius:0.1rem;}
span.arrowDiv{position:absolute;z-index:2;right:0rem;bottom:0.2rem;}
span.arrow{ border:0.03rem solid ;width:0.1rem;height:0.1rem; border-color:#7175a7 #7175a7 transparent transparent;margin-top:0.12rem;margin-right:-0.1rem}
span.arrowBottom{margin-bottom: 0.35rem; position: relative; top: 0.45rem; right: 0.1rem;}
footer{text-align:center;position:fixed;bottom:0rem; font-size:0.12rem; }
footer a{color:#fff;}
footer a:hover,#projectExp .projectInfo .proIntro a:hover{text-decoration:underline;color:#f15858;}

@media screen and (max-width:780px){
   #hideBg{position:absolute;top:0rem;left:0rem;background-color:#000;filter:alpha(opacity=60);opacity:0.6;width:100%;height:100%;display:none;z-index:9999;}
   #top{position:fixed;top:0rem;}
   #top .topNav{width:100%;margin:0rem auto;text-align:center;padding:0rem ;}
   #top .topNav .topL{width:75%;}
   #top .topNav .topR{width:25%;}
   #top .topNav .topL .myName{width:60%;text-align:center;font-size:0.22rem;}
   #top,footer{width:100%;min-width:0;}
   #top .topNav .topImg{margin:0rem 0rem 0rem 0.02rem;}
   #top .topNav .topM ul li{padding: 0rem 0.03rem;line-height: 0.28rem;}
   main{width:100%;}
   main #left{display:none;}
   main #right{width:100%;float:none;}
   main #right .motto img{width:100%;height:100%;}
   #personInfo .p_info{font-size:0.16rem;line-height:0.35rem;}
   #personInfo .p_info .userInfo{width:45%;} 
}






